---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="posts">
  <li>
    <h1 id="posts-label">Perfil</h1>
  </li>
<li><a class="post-link" href="#">
      <h2 class="post-title">Perfil</h2>
    </a>
    
    <div class="post"><p>En el ambito profesional solo he trabajado instalando aires acondicionados y de asistente de evanisteria. En el ambito academico diria que soy un estudiante promedio, puntual y con ganas de aprender cada dia un poco mas</p>

</div>
  </li>
  
<div class="badges" style="background-position-x: center;">
            
          </div>

{%- endif -%}
